// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@require '~vuetify/src/stylus/settings/_colors'
$theme := {
	primary: $blue.darken-2
	accent: $blue.accent-2
	secondary: $grey.lighten-1
	info: $blue.lighten-1
	warning: $amber.darken-2
	error: $red.accent-3
	success: $green.lighten-2
}
@require '~vuetify/src/stylus/main.styl'