/*----------------------------------------
    Page Header
------------------------------------------*/
.xxxx{
  height: 30px;
}
h1.logo-wrapper {
    margin: 0;
  }
  h1 span.logo-text {
    font-size: 26px;
    padding-left: 8px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  
  .menu-sidebar-collapse {
    margin: 0 10px;
  }
  .menu-sidebar-collapse i {
    line-height: 36px !important;
  }
  
  .brand-logo {
    margin: 1px 0px;
    padding: 16px 20px;
    line-height: 0;
  }
  .brand-logo img {
    height: 30px;
  }
  
  @media only screen and (max-width: 992px) {
    // .brand-logo {
    //   left: 50%;
    //   transform: translateX(-50%);
    // }
    aside .nav-wrapper {
      text-align: center;
    }
    aside .nav-wrapper a.page-title {
      font-size: 36px;
    }
  
    // aside .brand-sidebar {
    //   box-shadow: none;
    //   left: calc(50% - 120px);
    // }
    aside .brand-sidebar .navbar-toggler {
      display: none;
    }
    aside .brand-sidebar .logo-wrapper {
      padding: 5px 18px;
    }
    aside .brand-sidebar .sidebar-collapse {
      top: -48px;
    }
  
    ul.side-nav.leftside-navigation {
      top: 64px !important;
    }
  }
  

  /*Search box*/
  .header-search-wrapper {
    margin: 10px auto 0 260px;
    width: calc(100% - 630px);
    height: 40px;
    display: inline-block;
    position: relative;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .header-search-wrapper.sideNav-lock {
    margin: 0px auto 0 210px;
  }
  .header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
  }
  input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 87%;
    background: rgba(255, 255, 255, 0.3);
    // height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
  }
  input.header-search-input:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  input.header-search-input:focus {
    color: #333;
    background: #fff;
    border-bottom: none !important;
    box-shadow: none !important;
  }
  .header-search-wrapper-focus i {
    color: #444;
  }
  .header-search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input::-moz-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input:focus::-webkit-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input:focus::-moz-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input:focus::placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input:focus:-ms-input-placeholder {
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
  .header-search-input::placeholder {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  
  .search-out {
    display: none;
  }
  .search-out input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: none;
  }
  
  .search-out-text {
    border-bottom: 1px solid #fff !important;
  }
